.App{
 
}

.main {
  height: 150vh;
  width: 100vw;
  background-color:aqua;
  display: flex;
  color: black;
  
}

.itemlist{
  height: 150vh;
  width: 80vw;
  font-size: 20px;

}

.summary{
  height: 120vh;
  width: 30vw;
  background-color: darkkhaki;
}

.slot{
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.images{
  height: 125px;
  width: 125px;
}